@page
@using ArmchairExpertsCom.Services
@model ArmchairExpertsCom.Pages.Admin.Add

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Добавление модели</title>
</head>
<body>
<div>
    <form method="post">
        @Html.Edit(Model.Model)
        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>