#menuMargin {
    width: 1150px;
    margin: auto;
} 

.navbar-brand {
    font-size: large;

}

.topBackground {
    width: 1130px;
    margin: auto;
    margin-top: 10px;
    height: 120%;
    background: black;
    
}

#topPictures {
    height:  300px;
    width:  150 px;  
    margin-right: 30px;
    
}

#leftControlButton {
    margin-left: -50px;
}

#rightControlButton {
    margin-right: -50px;
}

