#menuMargin {
    width: 1150px;
    margin: auto;
} 

#carouselPictures {
    margin-left: 58px;
}

#titleText {
    color: white;
}

.navbar-brand {
    font-size: large;
}

.topBackground {
    width: 1130px;
    margin: auto;
    margin-top: 15px;
    height: 100%;
    background-color: cadetblue;
    
}

#topPictures {
    height:  355px;
    width:  150 px;  
    margin-right: 30px;    
}

#bookPictures {
    height:  325px;
    width:  125 px;  
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#books_nameOfPictures {
    margin-top: 15px;
    color: wheat;
}

#leftControlButton {
    margin-left: -50px;
}

#rightControlButton {
    margin-right: -50px;
}

