@using ArmchairExpertsCom.Services
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ArmchairExpertsCom</title>
    <script src="js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container" id="menuMargin">
            <a class="navbar-brand" asp-page="/Index">Диванные эксперты</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Books/Index">Книги</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Serials/Index">Сериалы</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Films/Index">Фильмы</a>
                    </li>
                    <form class="form-inline mx-4 my-2 my-lg-0" asp-page="/Search" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="searchString" autocomplete="off">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                    </form>
                </ul>
                    @if (Auth.IsAuthenticated(Context))
                    {
                        <a class="nav-link" asp-page="/Expert/Index">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Профиль</button>
                        </a>
                        <a class="nav-link" asp-page="/Logout">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" asp-page="/Login">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
                        </a>
                        <a class="nav-link" asp-page="/Registration">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Регистрация</button>
                        </a>
                    }
                
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>