@page
@using ArmchairExpertsCom.Models
@model ArmchairExpertsCom.Pages.Selections.Details

@{
    ViewData["Title"] = "Подборка";
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col">
                @Model.Selection.Title
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Model.Selection.Text
            </div>
        </div>
    </div>
</div>

@foreach (var artwork in Model.Selection.GetArtworks())
{
    @await Html.PartialAsync("PreviewPartial", artwork);
}

<div class="topBackground">
    <div class="container">
        <div>
            <form method="post" asp-route-id="@Model.Selection.Id">
                <div class="form-group">
                    <label>Текст комментария:</label>
                    <textarea class="form-control" rows="7" name="text"></textarea>
                </div>
                <button class="btn btn-light">Отправить</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 dropdown">
                <a class="nav-link active" id = "book_description" href="javascript:void(0)" onclick="showHide('hidden')">Комментарии</a>
            </div>
        </div>
        <div id="hidden" style="display: none;">
            @foreach (Comment comment in Model.Selection.Comments)
            {
                @await Html.PartialAsync("CommentPartial", comment);
            }
        </div>
    </div>
</div>
