@page
@using ArmchairExpertsCom.Models
@model ArmchairExpertsCom.Pages.Selections.Index

@{
    ViewData["Title"] = "Подборки";
}

<div class="topBackground">
    <div class="filterBackground bg-light my-0">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="filterButton">
                    <a class="nav-link active" asp-page="/Selections/Create">
                        <button class="btn write-review-btn" type="button" id="dropdownMenuButton" aria-haspopup="true">
                            Создать подборку
                        </button>
                    </a>
                </div>
                <form class="form-inline mx-2 my-2 my-lg-0">
                    <input id="widthForFilter" class="form-control mr-sm-2" type="search"
                           placeholder="Поиск по имени пользователя" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </div>
</div>

@foreach (var selection in Model.AllSelections)
{
    @await Html.PartialAsync("SelectionPreviewPartial", selection);
}