@page
@using ArmchairExpertsCom.Models
@model ArmchairExpertsCom.Pages.Serials.Index

@{
    ViewData["Title"] = "Сериалы";
}

<p></p>
<div class="filterBackground bg-light my-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="filterButton">
                <div class="dropdown text-center my-2" >
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Фильтровать
                    </button>
                    <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">По возрастанию</a>
                        <a class="dropdown-item" href="#">По убыванию</a>
                        <a class="dropdown-item" href="#">...</a>
                    </div>
                </div>
            </div>
            <form class="form-inline mx-2 my-2 my-lg-0" method="post">
                <input id = "widthForFilter" class="form-control mr-sm-2"  type="search" placeholder="Поиск" aria-label="Search" name="searchString">
                <button class="btn my-2 my-sm-0" type="submit">Найти</button>
            </form>
        </div>


    </div>
</div>

@foreach (var serial in Model.AllSerials)
{
    @await Html.PartialAsync("PreviewPartial", serial)
}