@page
@model ArmchairExpertsCom.Pages.Serials
@{
    ViewData["Title"] = "Serials";
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="carouselPictures">
                <a href="profile.html">
                    <img id="bookPictures" class="rounded border border-dark " src="~/img/top1.jpg">
                </a>
            </div>
            <div class="col">
                <a href="profile.html"><h3 class="text-center" id ="books_nameOfPictures">Название фильма</h3></a>
                <div class="col">
                    <p class="text-center">Описание</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="carouselPictures">
                <a href="profile.html">
                    <img id="bookPictures" class="rounded border border-dark " src="~/img/top1.jpg">
                </a>
            </div>
            <div class="col">
                <a href="profile.html"><h3 class="text-center" id ="books_nameOfPictures">Название фильма</h3></a>
                <div class="col">
                    <p class="text-center">Описание</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="carouselPictures">
                <a href="profile.html">
                    <img id="bookPictures" class="rounded border border-dark " src="~/img/top1.jpg">
                </a>
            </div>
            <div class="col">
                <a href="profile.html"><h3 class="text-center" id ="books_nameOfPictures">Название фильма</h3></a>
                <div class="col">
                    <h3 class="text-center" id ="books_nameOfPictures">Описание</h3>
                </div>
            </div>
        </div>  
    </div>
</div>