@page
@using ArmchairExpertsCom.Models.Interfaces
@model ArmchairExpertsCom.Pages.Expert.Reviews

@{
    Layout = "Shared/_ProfileLayout";
    ViewData["Title"] = "Ревью";
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center" id="wall">Рецензии</h2>
            </div>
        </div>
    </div>
</div>


@foreach (IReview review in Model.AllReviews)
{
    @await Html.PartialAsync("ReviewPartial", review);
}