@page
@using ArmchairExpertsCom.Models
@model ArmchairExpertsCom.Pages.Expert.Friends

@{
    Layout = "Shared/_ProfileLayout";
}

<div id="pages">
    <div class="topBackground">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" id="wall">Подписки</h2>
                </div>
            </div>
        </div>
    </div>

    @foreach (var subscribe in Model.Expert.Subscribes)
    {
        @await Html.PartialAsync("UserPreviewPartial", (User) subscribe);
    }
</div>